<div class="d-flex justify-content-between fixed-top navbar-cocktails align-items-center">
  <div>
    <h2 class="mb-0 title">Try our <span class="font-italic">COCKTAILS</span></h2>
  </div>
  <div>
    <ul class="d-flex justify-content-right list-unstyled mb-0">
      <li class="mr-3">
        <%= link_to "Add a new cocktail", new_cocktail_path, class: "btn-cocktails" %>
      </li>
      <li>
        <%= link_to "Home", root_path, class: "btn-cocktails" %>
      </li>
    </ul>
  </div>
</div>

